
/* Home/About page CSS */

h1{
  text-align: center;
  font-family: monospace;
  font-size: 60px;
  font-style: normal;
  text-shadow: black;
  color: #0f0202;
  font-weight: bolder;
}

h2{
  text-align: center;
  font-size: 30px;
  color: #0f0202;
}
h3{
  text-align: center;
  font-size: 30px;
  color: #0f0202;
}

body {
  background-color: #28a745;
  color: bisque;
}

.navbar-expand-sm navbar-light bg-light {
  color: darkslategray;
}

/* Contact page CSS */

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #0f0202;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: sans-serif;
}

/* Portfolio CSS */

#LinksToMedia {
  font-size: xx-large;
  color: black;
  text-align: center;
display: flex;
}

#KizikVideo {
  width: 300px;
  height: 300px;
  border:black;
}

#KizikPicture {
  width: 500px;
  height: 400px;
  display: flex;
}
.linkText {
  text-align: center;
}

/* Navbar */

.nav-link {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: brown;
}


/* Media Queries */


@media screen and (max-width: 320) {

  #ProfilePic {
    width: 100px;
    height: 50px;
    max-height: 50px;
    max-width: 25px;
    object-fit: scale-down;
  }

  #PortfolioContainer {
    object-fit: cover;
    fill: #0f0202;
    max-width: 100%;
    align-content: right;
    float: left;
  }

  #KizikVideo  {
    grid-gap: 10px;
    gap: 10px;
    object-fit: cover;
    max-width: 100%;
    margin-left: -50px;
    text-align: center;
    align-content: center;
    object-fit: scale-down;
  }

}

@media (min-width: 750px) {
  #ProfilePic {
  object-fit: contain;
  }
}

